h1 {
  font-size: 2em;
  text-align: center;
}

.poke-card-list {
  display:inline-block;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 30px;
  width:200px;
  text-align:center;
}

.poke-card-list h1 {
  font-size: 20px;
}

.poke-image {
  width: 200px;
}
