h1 {
  font-size: 2em;
  text-align: center;
}

button {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.poke-card-list {
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(233, 230, 230, 0.7);
  transition: 0.3s;
  padding: 1rem;
  text-align: center;
}

.poke-card-list:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: #fbd743;
}

.poke-card-list h1 {
  font-size: 20px;
}

.poke-image {
  width: 180px;
}

.buttonWrapper {
  margin-top: 1em;
  display: flex;
}

#pokeBall {
  width: 40px;
}

#btnLeft {
  background-color: #ff1f1f;
  color: white;
  border: none;
  border-radius: 3px;
}

#btnRight {
  background-color: #f2f2f2;
  border: none;
  border-radius: 3px;
}
