h1 {
  font-size: 2em;
  text-align: center;
  font-family: sans-serif;
}

button {
  margin-right: 0.5em;
  margin-left: 0.5em;
  border: 1px solid darkgrey;
}

.linkDetail:link {
  text-decoration: none;
  color: #003a70;
}

.linkDetail:visited {
  text-decoration: none;
  color: #003a70;
}

.linkDetail:active {
  text-decoration: none;
  color: #003a70;
}

.poke-card-list {
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(233, 230, 230, 0.9);
  transition: 0.3s;
  padding: 1rem;
  text-align: center;
  font-family: sans-serif;
  border: 1px solid darkgrey;
}

.poke-card-list h4 {
  font-weight: 400;
}

.poke-card-list:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(207, 229, 236);
}

.poke-card-list > a:visited {
  text-decoration: none;
}

.poke-card-list h1 {
  font-size: 20px;
}

.poke-image {
  width: 180px;
}

.buttonWrapper {
  margin-top: 1em;
  display: flex;
}

#pokeBall {
  width: 40px;
}

#btnLeft {
  background-color: #f2f2f2;
  border-radius: 3px;
}

#btnRight {
  background-color: #f2f2f2;
  border-radius: 3px;
}

#btnLeft:hover {
  background-color: #ee1515;
}

#btnRight:hover {
  background-color: #ee1515;
}
