#linkWrapper {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 10px rgba(233, 230, 230, 0.9);
  transition: 0.3s;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: sans-serif;
  margin: 20px;
  font-family: sans-serif;
}

.poke-move-status{
  min-height:60px;
  min-width:10px;
  display:block;
  font-size:18px;
}

.btn-fight {
  font-size:18px;
  border:1px solid grey;
  border-radius:2px;
  margin-top:20px;
  padding:10px;
  font-weight:bold;
  letter-spacing: 1px;

}

.btn-fight:not([disabled]):hover {
  background:red;
  color:white;
}

.btn-fight:focus{
  outline:none;
  border-color:red;
}