#logo {
  width: 500px;
  margin: 2em auto;
}

#searchInput {
  padding: 0.5em;
  border: 2px solid #2a75bb;
  border-radius: 10px;
}

#searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}