.meter {
  height: 16px; /* Can be anything */
  display: block;
  position: relative;
  background: rgb(103, 101, 101);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 5px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  width: 45%;
  margin-right: 10px;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  padding: 0px;
}

.orange > span {
  background-color: #f1a165;
  background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.red > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}

.yellow > span {
  background-color: #edee9e;
  background-image: linear-gradient(to bottom, #edee9e, #f1f423);
}

.darkGreen > span {
  background-color: #5c8062;
  background-image: linear-gradient(to bottom, #5c8062, #084e14);
}

.blue > span {
  background-color: #5154f5;
  background-image: linear-gradient(to bottom, #5154f5, #272991);
}

.wrapper {
  display: flex;
  margin-bottom: 0.2em;
  justify-content: center;
  align-items: center;
}

.statName {
  font-size: 1.6vw;
  font-weight: bold;
  display: inline-block;
  width: 130px;
  text-align: right;
  margin-right: 1em;
  white-space: nowrap;
}

.bst {
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding-left: 1em;
  transition: 1.5s all;
}

#stat {
  text-align: center;
  background-color: #fbd743;
  padding: 0.5em 0;
  font-size: 1.5em;
  font-family: sans-serif;
}

.bst-text {
  display: block;
  background: none;
  color: white;
  width: auto;
  font-weight: bold;
  margin-left: -50px;
  z-index: 2;
  width: 20px;
}
