.App {
  font-family: sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

/* fix jumping issues with scrollbar visible/non-visible */
html {
  overflow-y: scroll;
}

nav {
  background-color: #3d7dca;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4em;
  padding: 0;
}

li {
  font-size: 25px;
}

.link:link {
  text-decoration: none;
  color: white;
}

.link:visited {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: white;
}

.playerOne {
  margin: 0 2.5em;
  font-style: italic;
  color: #003a70;
  font-size: 20px;
  text-transform: capitalize;
}

.playerTwo {
  margin: 0 2.5em;
  font-style: italic;
  color: #003a70;
  font-size: 20px;
  text-transform: capitalize;
}

.pOne {
  color: #003a70;
  font-size: 20px;
}

.pTwo {
  color: #003a70;
  font-size: 20px;
}

#fightBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  ul {
    flex-direction: column;
    height: 8em;
    margin: 0;
    justify-content: none;
    align-items: none;
    margin-right: 20px;
  }

  .playerWrapper {
    margin: 0 -0.5em;
  }
}
