.App {
  font-family: sans-serif;
  text-align: center;
}

body,
html {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(50, 50, 120);
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4em;
}

li {
  color: white;
  font-size: 1.5em;
}

a:visited {
  color: darkgrey;
}
